ASSIGNMENT-05 SETAQ3
Consider the given student data and write a programme in python to apply simple linear Regression and find out mean absolute error,mean squared error,root mean squared error.

In [17]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#importing dataset

In [18]:
dataset=pd.read_csv("student_scores.csv")
dataset.head(5)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

#Spliting the dataset into training and test set

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(x,y,test_size = 0.2)

#Training the simple Linear Regression model

In [20]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

#Predicting the test set results

In [21]:
y_pred = regressor.predict(x_test)

In [22]:
print(y_pred)

[51.25616889 75.48594933 76.41786396 58.71148595 68.03063227]

#Comparing Real values And Predicted values

In [23]:
df= pd.DataFrame({'Real values':y_test,'Predicted values':y_pred})
df

    Real values  Predicted values
1            47         51.256169
10           85         75.485949
24           86         76.417864
11           62         58.711486
23           76         68.030632

#Calculating MAE,MSE & RMSE

In [24]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import math
print("Mean Squared Error:",mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error:",math.sqrt(mean_squared_error(y_test, y_pred)))
print("Mean Absolute Error",mean_absolute_error(y_test, y_pred))

Mean Squared Error: 54.95492231870452
Root Mean Squared Error: 7.41315872747269
Mean Absolute Error 6.922047476947059